In [15]:
from bs4 import BeautifulSoup
import pandas as pd
import requests as req
import datetime as dt

In [46]:
columns = [
    "SpeciesCode",
    "Name",
    "ReportedCommCatch_kg",
    "TACC_kg",
    "CustAllow_kg",
    "RecAllow_kg",
    "TargetFishery",
    "BycatchFishery",
    "InQMS",
    "Year"
]

In [48]:
year = dt.datetime.now().year
data = []
for i in range(2016,year+1):
    rq = req.get("https://fs.fish.govt.nz/Page.aspx?pk=6&tk=97&ey={}".format(i))
    html = BeautifulSoup(rq.content)
    for row in html.select("tr.ItemRow"):
        data.append([d.text.replace("\n","").replace(",","") for d in row.select("td")] + [i])
df = pd.DataFrame(data=data,columns=columns)
df.sample(10)

,SpeciesCode,Name,ReportedCommCatch_kg,TACC_kg,CustAllow_kg,RecAllow_kg,TargetFishery,BycatchFishery,InQMS,Year
351,BYX,Alfonsino & Long-fin...,2392462,2995700,2000,2000,Yes,Yes,Yes,2020
339,STM,Striped marlin,,,,,No,Yes,No,2019
294,MAK,Mako shark,27000,200000,10000,30000,No,Yes,Yes,2019
87,SQU,Arrow squid,18462101,82120281,10000,10000,Yes,No,Yes,2017
491,MDI!,Trough shell,,160000,0,0,,,Yes,2021
54,GFL,Greenback flounder,,,,,,,Yes,2016
350,CRA!,Spiny red rock lobst...,2498859,2800486,195500,332000,Yes,No,Yes,2020
390,NEB,Brodie's king crab,,,,,,,Yes,2020
481,BYD,Longfinned beryx,,,,,,,Yes,2021
252,LES,Lessonia,,,,,,,No,2018